{% extends 'core/base.html' %}

{% block body-content %}
<div class="container">
	<table class="table table-hover">
	  <thead>
	    <tr>
	      <th scope="col">#</th>
	      <th scope="col">Name</th>
	      <th scope="col">Number of Pages</th>
	      <th scope="col">Author</th>
	      <th scope="col">Read</th>
	    </tr>
	  </thead>
	  <tbody>
	    	{% for file in file_list %}
	    	<tr>
		      <th scope="row">{{ forloop.counter }}</th>
		      <td>{{ file.name }}</td>
		      <td>{{ file.number_of_pages }}</td>
		      <td>{{ file.author }}</td>
		      <td>
		      	<a href="{% url 'page_reader' file.id 1 %}">
		      		Read
		      	</a>		      		
		      </td>
	    	</tr>
	        {% endfor %}
	  </tbody>
</table>
</div>
{% endblock body-content %}